name: Validate

on:
  push:
    paths:
      - 'custom_components/autosnooze/manifest.json'
      - 'hacs.json'
      - '.github/workflows/validate.yml'
  pull_request:
    paths:
      - 'custom_components/autosnooze/manifest.json'
      - 'hacs.json'
      - '.github/workflows/validate.yml'
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions: {}

jobs:
  validate-hassfest:
    name: Hassfest Validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Hassfest validation
        uses: home-assistant/actions/hassfest@master
