name: Validate

on:
  push:
    paths:
      - 'custom_components/autosnooze/manifest.json'
      - 'hacs.json'
      - '.github/workflows/validate.yml'
  pull_request:
    paths:
      - 'custom_components/autosnooze/manifest.json'
      - 'hacs.json'
      - '.github/workflows/validate.yml'
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  validate-hacs:
    name: HACS Validation
    if: false # Disabled - not currently used
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: HACS validation
        uses: hacs/action@6f81caf1dd4cc0f615444dba4d4a3ceaa22db99c # main
        with:
          category: integration

  validate-hassfest:
    name: Hassfest Validation
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Hassfest validation
        uses: home-assistant/actions/hassfest@87c064c607f3c5cc673a24258d0c98d23033bfc3 # master
