name: Validate

on:
  push:
    paths:
      - 'custom_components/autosnooze/manifest.json'
      - 'hacs.json'
      - '.github/workflows/validate.yml'
  pull_request:
    paths:
      - 'custom_components/autosnooze/manifest.json'
      - 'hacs.json'
      - '.github/workflows/validate.yml'
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  validate-hacs:
    name: HACS Validation
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: HACS validation
        uses: hacs/action@6f81caf1dd4cc0f615444dba4d4a3ceaa22db99c # main
        with:
          category: integration

  validate-hassfest:
    name: Hassfest Validation
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: Hassfest validation
        uses: home-assistant/actions/hassfest@55b4a5d23e09d627c2773c2ef82afa98904d65b4 # master
